* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: auto;
  text-align: center;
}

/* ------------- */

/* riga */
.row {
  margin-top: 30px;
}
/* /riga */


/* box prodotto */
.product {
  width: 350px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.product-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.discount {
  width: 60px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

.green {
  background: green;
}

.red {
  background: red;
}

.heart {
  width: 100%;
  position: absolute;
  bottom: 10px;
  font-size: 40px;
  color: red;
  display: none;
}

.product:hover .heart {
  display: block;
}
/* /box prodotto */
